@using modul21.Models.Entitys
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
    <head>
        <title>Главная страница</title>
    </head>

    <body>
        <table border="1">
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Номер телефона</th>
                <th>Адрес</th>
                <th>Заметка</th>
            </tr>
            @foreach (Person person in ViewBag.Persons)
            {
                <tr>
                    <td>@person.Id</td>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.MiddleName</td>
                    <td>@person.PhoneNumber</td>
                    <td>@person.Address</td>
                    <td>@person.Description</td>
                    <td><a asp-action="Edit" asp-controller="Person" asp-route-id="@person.Id">Изменить</a></td>
                    <td><a asp-action="Delete" asp-controller="Person" asp-route-id="@person.Id">Удалить</a></td>
                </tr>
            }
        </table>
        <br/>
        <a asp-action="Add" asp-controller="Person">Добавить</a>
    </body>
</html>